/* body{
    display: flex;
    background-color: aqua;
    border: radius 30%;
    margin: 30%;
}
table{
    background-color: brown;
    border: 2px;
    justify-content: center;
    border: 2px solid yellow;
    

}
td{
    border: 2px solid;
    background-color: yellowgreen;
}
tr{
    background-color: yellow;
    }

td:hover{
    background-color: rgb(158, 158, 206);
}
.qorapp{

} */

.qorapp{
    
}